In [2]:
import pandas as pd
import mysql.connector
import os

# List of CSV files and their corresponding table names
csv_files = [
    ('customers.csv', 'customers'),
    ('orders.csv', 'orders'),
    ('sellers.csv', 'sellers'),
    ('products.csv', 'products'),
    ('order_items.csv', 'order_items'),
    ('payments.csv', 'payments'),
    ('geolocation.csv', 'geolocation') # Added payments.csv for specific handling
]

# Connect to the MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    database='eCommerce'
)
cursor = conn.cursor()

# Folder containing the CSV files
folder_path = 'D:/Ultimate Programming/PortFolio ProJect/E Commerce'

def get_sql_type(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Replace NaN with None to handle SQL NULL
    df = df.where(pd.notnull(df), None)
    
    # Debugging: Check for NaN values
    print(f"Processing {csv_file}")
    print(f"NaN values before replacement:\n{df.isnull().sum()}\n")

    # Clean column names
    df.columns = [col.replace(' ', '_').replace('-', '_').replace('.', '_') for col in df.columns]

    # Generate the CREATE TABLE statement with appropriate data types
    columns = ', '.join([f'`{col}` {get_sql_type(df[col].dtype)}' for col in df.columns])
    create_table_query = f'CREATE TABLE IF NOT EXISTS `{table_name}` ({columns})'
    cursor.execute(create_table_query)

    # Insert DataFrame data into the MySQL table
    for _, row in df.iterrows():
        # Convert row to tuple and handle NaN/None explicitly
        values = tuple(None if pd.isna(x) else x for x in row)
        sql = f"INSERT INTO `{table_name}` ({', '.join(['`' + col + '`' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(row))})"
        cursor.execute(sql, values)

    # Commit the transaction for the current CSV file
    conn.commit()

# Close the connection
conn.close()

Processing customers.csv
NaN values before replacement:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Processing orders.csv
NaN values before replacement:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Processing sellers.csv
NaN values before replacement:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Processing products.csv
NaN values before replacement:
product_id                      0
product category              610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Processing order_items.csv
NaN values before replacement:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Processing payments.csv
NaN values before replacement:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Processing geolocation.csv
NaN values before replacement:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
db = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '123456',
                              database = 'eCommerce')
cur = db.cursor()

# 1. List all unique cities where customers are located.

In [2]:
query = """ select distinct customer_city from customers"""
cur.execute(query)
data = cur.fetchall()
df = pd.DataFrame(data)
df.columns = ['Customers_City']
print(df.head(19))

           Customers_City
0                  franca
1   sao bernardo do campo
2               sao paulo
3         mogi das cruzes
4                campinas
5          jaragua do sul
6                 timoteo
7                curitiba
8          belo horizonte
9           montes claros
10         rio de janeiro
11       lencois paulista
12          caxias do sul
13             piracicaba
14              guarulhos
15                 pacaja
16          florianopolis
17   aparecida de goiania
18            santo andre

# 2. Count The Number Of Orders Placed In 2017.

In [6]:
que2 = """ select count(order_id) from orders
    where year(order_purchase_timestamp) = 2017"""
cur.execute(que2)
data = cur.fetchall()
df = pd.DataFrame(data)
df.columns = ['Count']
print(df)

   Count
0  45101

# 3. Find the total sales per category.

In [10]:
que3 = """ select products.product_category, round(sum(payments.payment_value),2)
from products join order_items
on products.product_id = order_items.product_id
join payments
on payments.order_id = order_items.order_id
group by products.product_category"""
cur.execute(que3)
data = cur.fetchall()
df = pd.DataFrame(data, columns = ['Categorty', 'Sales'])
print(df.head(10))

              Categorty       Sales
0             perfumery   506738.66
1  Furniture Decoration  1430176.39
2             telephony   486882.05
3        bed table bath  1712553.67
4            automotive   852294.33
5  computer accessories  1585330.45
6            housewares  1094758.13
7                babies   539845.66
8                  toys   619037.69
9      Furniture office   646826.49

# 4. Calculate the percentage of orders that were paid in installments.

In [20]:
q4 = """  select (sum(case when payment_installments >=1 then 1 
    else 0 end))/ count(*) *  100 from payments"""
cur.execute(q4)
data = cur.fetchall()
df = pd.DataFrame(data)
'Total Paid Installmenys is : ' ,data[0][0]

('Total Paid Installmenys is : ', Decimal('99.9981'))

# 5. Count the number of customers from each state.

In [23]:
q5 = """select customer_state, count(customer_id) from customers
group by customer_state"""
cur.execute(q5)
data = cur.fetchall()
df = pd.DataFrame(data, columns = ['State', 'Numbers'])
print(df)

   State  Numbers
0     SP    41746
1     SC     3637
2     MG    11635
3     PR     5045
4     RJ    12852
5     RS     5466
6     PA      975
7     GO     2020
8     ES     2033
9     BA     3380
10    MA      747
11    MS      715
12    CE     1336
13    DF     2140
14    RN      485
15    PE     1652
16    MT      907
17    AM      148
18    AP       68
19    AL      413
20    RO      253
21    PB      536
22    TO      280
23    PI      495
24    AC       81
25    SE      350
26    RR       46